{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Student Signup</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static '/css/loginandsignup.css' %}"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap"
      rel="stylesheet"
    />
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style>
      input::-webkit-datetime-edit {
        color: black;
      }
      input:focus::-webkit-datetime-edit {
        color: #000;
      }
    </style>
  </head>
  <body>
    <img class="wave" src="{% static 'images/wave.png' %}" />
    <div class="container">
      <div class="img">
        <img src="{% static 'images/bg.svg' %}" />
      </div>
      <div class="login-content">
        <form action="/studentsignup" method="POST">
          {% csrf_token %}
          <h2>Welcome</h2>
          <div class="input-div one">
            <div class="i">
              <i class="fas fa-user"></i>
            </div>
            <div class="div">
              <h5>Firstname</h5>
              <input type="text" name="Firstname" class="input" />
            </div>
          </div>
          <div class="input-div one">
            <div class="i">
              <i class="fas fa-user"></i>
            </div>
            <div class="div">
              <h5>Gender</h5>
              <input type="text" name="Lastname" class="input" />
            </div>
          </div>
          <div class="input-div one">
            <div class="i">
              <i class="fas fa-calendar" aria-hidden="true"></i>
            </div>
            <div class="div">
              <h5 style="top: -5px">Dob</h5>
              <input
                type="date"
                name="Dateofbirth"
                style="border: none"
                class="input"
              />
            </div>
          </div>
          <div class="input-div one">
            <div class="i">
              <i class="fas fa-user"></i>
            </div>
            <div class="div">
              <h5>Gender</h5>
              <input type="text" class="input" name="Gender" />
            </div>
          </div>
          <div class="input-div one">
            <div class="i">
              <i class="fa fa-envelope" aria-hidden="true"></i>
            </div>
            <div class="div">
              <h5>Email</h5>
              <input type="email" name="Email" class="input" />
            </div>
          </div>
          <div class="input-div one">
            <div class="i">
              <i class="fas fa-phone"></i>
            </div>
            <div class="div">
              <h5>Phonenumber</h5>
              <input type="text" name="Phonenumber" class="input" />
            </div>
          </div>
          <div class="input-div one">
            <div class="i">
              <i class="fas fa-lock"></i>
            </div>
            <div class="div">
              <h5>Password</h5>
              <input type="password" name="Password" class="input" />
            </div>
          </div>
          <div class="input-div one">
            <div class="i">
              <i class="fas fa-lock"></i>
            </div>
            <div class="div">
              <h5>Confirm Password</h5>
              <input type="password" name="Confirmpassword" class="input" />
            </div>
          </div>
          <input type="submit" class="btn" value="Register" />
          <div class="">
          {% if error %}
          <div class="alert alert-warning" role="alert">
              {{error}}
          </div>
          {% endif %}

</div>
        </form>
      </div>
    </div>
    <script type="text/javascript">
      const inputs = document.querySelectorAll(".input");

      function addcl() {
        let parent = this.parentNode.parentNode;
        parent.classList.add("focus");
      }

      function remcl() {
        let parent = this.parentNode.parentNode;
        if (this.value == "") {
          parent.classList.remove("focus");
        }
      }

      inputs.forEach((input) => {
        input.addEventListener("focus", addcl);
        input.addEventListener("blur", remcl);
      });
    </script>
  </body>
</html>
