{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

     <title>About Insitution</title>
     <!--

Known Template

https://templatemo.com/tm-516-known

-->
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=Edge">
     <meta name="description" content="">
     <meta name="keywords" content="">
     <meta name="author" content="">
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

     <link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
     <link rel="stylesheet" href="{% static '/css/owl.carousel.css' %}">
     <link rel="stylesheet" href="{% static '/css/owl.theme.default.min.css' %}">
     <link rel="preconnect" href="https://fonts.gstatic.com">
     <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

     <!-- MAIN CSS -->
     <link rel="stylesheet" href="{% static '/css/templatemo-style.css' %}">
<style>
     .box{
          width: 30%;
          border:1px solid rgb(214, 214, 214);
          box-shadow: 2px 3px 5px grey;
          border-radius: 10px;
          justify-content: space-between;
          height: 150px;


     }
     .box-fee{
       width: 50%;
       border:1px solid rgb(214, 214, 214);
       box-shadow: 2px 3px 5px grey;
       border-radius: 10px;
       justify-content: space-between;
       height: 150px;

     }
</style>
</head>

<body id="top" data-spy="scroll" data-target=".navbar-collapse" data-offset="50">

     <!-- PRE LOADER -->
     <section class="preloader">
          <div class="spinner">

               <span class="spinner-rotate"></span>

          </div>
     </section>


     <!-- MENU -->
     <section class="navbar custom-navbar navbar-fixed-top" role="navigation">
          <div class="container">

               <div class="navbar-header">
                    <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                         <span class="icon icon-bar"></span>
                         <span class="icon icon-bar"></span>
                         <span class="icon icon-bar"></span>
                    </button>

                    <!-- lOGO TEXT HERE -->
                    <a href="#" class="navbar-brand">Apply Uni</a>
               </div>

               <!-- MENU LINKS -->
               <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-nav-first">
                         <li><a href="#top" class="smoothScroll">Home</a></li>
                         <li><a href="#about" class="smoothScroll">About</a></li>
                         <li><a href="#details" class="smoothScroll">Details</a></li>
                         <li><a href="#courses" class="smoothScroll">Courses</a></li>
                         <li><a href="#fee_details" class="smoothScroll">Fee Details</a></li>
                         <li><a href="#contact" class="smoothScroll">Contact</a></li>
                    </ul>


               </div>

          </div>
     </section>


     <!-- HOME -->
     <section id="home">
          <div class="row">

               <div class="owl-carousel owl-theme home-slider">
                    <div class="item item-first">
                         <div class="caption">
                              <div class="container">
                                   <div class="col-md-6 col-sm-12">
                                        <h1>{{value.Name}}</h1>

                                   </div>
                              </div>
                         </div>
                    </div>
               </div>
          </div>
     </section>





     <!-- ABOUT -->
     <section id="about">
          <div class="container" style="border:1px solid rgb(214, 214, 214); box-shadow: 2px 3px 5px grey; border-radius: 10px;">
               <h1>About</h1>
               <p style="font-family: 'Montserrat', sans-serif; font-weight: 800;">{{value.About}}</p>
          </div>
     </section>


     <!-- details  -->
     <section id="details">
          <h1 class="container" style="margin-bottom: 50px;" >Details</h1>
          <div class="container">

               <div class="details" style="display: flex;justify-content: space-around;flex-wrap: wrap;align-content: space-between;height: 400px;">
                    <div class="campuses box">
                         <h3 class="text-center" style="margin-top: 40px;">Number of Campuses</h3>
                         <p class="text-center">{{value.Campuses}}</p>

                    </div>
                    <div class="box">
                         <h3 class="text-center" style="margin-top: 40px;">Number of Facilities</h3>
                         <p class="text-center">{{value.Departments}}</p>

                    </div>
                    <div class="box">
                         <h3 class="text-center" style="margin-top: 40px;">Level of education offered</h3>
                         <p class="text-center">UG AND PG</p>

                    </div>
                    <div class="box">
                         <h3 class="text-center" style="margin-top: 40px;">Intakes</h3>
                         <p class="text-center">{{value.Intake}}</p>

                    </div>
                    <div class="box">
                         <h3 class="text-center" style="margin-top: 40px;"> No.of Staff</h3>
                         <p class="text-center">{{value.Staff}}</p>

                    </div>
                    <div class="box">
                         <h3 class="text-center" style="margin-top: 40px;">Number of students</h3>
                         <p class="text-center" >{{value.Students}}</p>

                    </div>
               </div>
          </div>
     </section>


     <!-- Courses -->
     <section id="courses">
          <h1 class="container " style="margin-bottom: 50px;" >Courses</h1>
          <div class="container">
               <div class="container">

                    <div class="details" style="display: flex;justify-content: space-around;flex-wrap: wrap;align-content: space-between;height: 400px;">
                        {% for course in univ_courses %}
                         <div class="campuses box">
                              <h3 class="text-center" style="margin-top: 40px;">{{ course.Coursename }}</h3>


                         </div>
                         {% endfor %}
                    </div>
               </div>









          </div>
     </section>


     <!-- FEEDETAILS -->
     <section id="fee_details">
          <h1 class="container" style="margin-bottom: 20px;">Fee Details</h1>
          <div class="container">
            <div class="" style="display: flex;justify-content: space-around;flex-wrap: wrap;align-content: space-between;height: 400px;">
              <div class="box-fee">
                   <h3 class="text-center" style="margin-top: 40px;">UG</h3>
                   <h2 class="text-center">200</h2>
              </div>
              <div class="box-fee">
                   <h3 class="text-center" style="margin-top: 40px;">PG</h3>
                   <h2 class="text-center" >200</h2>
              </div>
            </div>

            </div>



     </section>

     <!--Location-->
     <section >
          <h1 class="container" style="margin-bottom: 50px;"> Location</h1>
          <div class="container">
               <div class="details" style="display: flex;justify-content: space-around;flex-wrap: wrap;align-content: space-between;height: 400px;">
                    <div class=" box text-center">
                         <div class="icon"  style="margin-top: 50px;">
                              <i class="fa fa-location-arrow" style="font-size: 25px;color: green;"></i>
                         <h3>{{value.Location}}</h3>
                    </div>
                    </div>
                    <div class="box text-center">
                         <i class="fa fa-phone " style="margin-top: 50px;font-size: 25px;color: green;"></i>
                         <h3>{{value.Phonenumber}}</h3>
                    </div>
                    <div class="box text-center">
                         <i class="fa fa-envelope" style="margin-top: 50px;font-size: 25px;color: green;"></i>
                         <h3>{{value.Email}}</h3>
                    </div>

               </div>
          </div>
     </section>


     <!-- CONTACT -->
     <section id="contact">
          <div class="container">
               <div class="row">

                    <div class="col-md-6 col-sm-12">
                         <form id="contact-form" role="form" action="" method="post">
                              <div class="section-title">
                                   <h2>Contact us <small>we love conversations. let us talk!</small></h2>
                              </div>

                              <div class="col-md-12 col-sm-12">
                                   <input type="text" class="form-control" placeholder="Enter full name" name="name"
                                        required="">

                                   <input type="email" class="form-control" placeholder="Enter email address"
                                        name="email" required="">

                                   <textarea class="form-control" rows="6" placeholder="Tell us about your message"
                                        name="message" required=""></textarea>
                              </div>

                              <div class="col-md-4 col-sm-12">
                                   <input type="submit" class="form-control" name="send message" value="Send Message">
                              </div>

                         </form>
                    </div>

                    <div class="col-md-6 col-sm-12">
                         <div class="contact-image">
                              <img src="{% static '/images/contact-image.jpg' %}" class="img-responsive" alt="Smiling Two Girls">
                         </div>
                    </div>

               </div>
          </div>
     </section>


     <!-- FOOTER -->

     <!--

     <footer id="footer">
          <div class="container">
               <div class="row">

                    <div class="col-md-4 col-sm-6">
                         <div class="footer-info">
                              <div class="section-title">
                                   <h2>Headquarter</h2>
                              </div>
                              <address>
                                   <p>1800 dapibus a tortor pretium,<br> Integer nisl dui, ABC 12000</p>
                              </address>

                              <ul class="social-icon">
                                   <li><a href="#" class="fa fa-facebook-square" attr="facebook icon"></a></li>
                                   <li><a href="#" class="fa fa-twitter"></a></li>
                                   <li><a href="#" class="fa fa-instagram"></a></li>
                              </ul>

                              <div class="copyright-text">
                                   <p>Copyright &copy; 2019 Company Name</p>

                                   <p>Design: TemplateMo</p>
                              </div>
                         </div>
                    </div>

                    <div class="col-md-4 col-sm-6">
                         <div class="footer-info">
                              <div class="section-title">
                                   <h2>Contact Info</h2>
                              </div>
                              <address>
                                   <p>+65 2244 1100, +66 1800 1100</p>
                                   <p><a href="mailto:youremail.co">hello@youremail.co</a></p>
                              </address>

                              <div class="footer_menu">
                                   <h2>Quick Links</h2>
                                   <ul>
                                        <li><a href="#">Career</a></li>
                                        <li><a href="#">Investor</a></li>
                                        <li><a href="#">Terms & Conditions</a></li>
                                        <li><a href="#">Refund Policy</a></li>
                                   </ul>
                              </div>
                         </div>
                    </div>

                    <div class="col-md-4 col-sm-12">
                         <div class="footer-info newsletter-form">
                              <div class="section-title">
                                   <h2>Newsletter Signup</h2>
                              </div>
                              <div>
                                   <div class="form-group">
                                        <form action="#" method="get">
                                             <input type="email" class="form-control" placeholder="Enter your email" name="email" id="email" required="">
                                             <input type="submit" class="form-control" name="submit" id="form-submit" value="Send me">
                                        </form>
                                        <span><sup>*</sup> Please note - we do not spam your email.</span>
                                   </div>
                              </div>
                         </div>
                    </div>

               </div>
          </div>
     </footer>
-->

     <!-- SCRIPTS -->
     <script src="{% static '/js/jquery.js' %}"></script>
     <script src="{% static '/js/bootstrap.min.js' %}"></script>
     <script src="{% static '/js/owl.carousel.min.js' %}"></script>
     <script src="{% static '/js/smoothscroll.js' %}"></script>
     <script src="{% static '/js/custom.js' %}"></script>
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

</body>

</html>
