{% load static %} {% load socialaccount %}
<!DOCTYPE html>
<html>
  <head>
    <title>Student Login Form</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static '/css/loginandsignup.css' %}"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap"
      rel="stylesheet"
    />
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <img class="wave" src="{% static 'images/wave.png' %}" />
    <div class="container">
      <div class="img">
        <img src="{% static 'images/bg.svg' %}" />
      </div>
      <div class="login-content">
        <form action="/studentlogin" method="POST">
          {% csrf_token %}
          <img src="{% static 'images/avatar.svg' %}" />
          <h2 class="title">Welcome</h2>
          <div class="">
          {% if error %}
          <div class="alert alert-warning" role="alert">
              {{error}}
          </div>
          {% endif %}

</div>
          <div class="input-div one">
            <div class="i">
              <i class="fas fa-user"></i>
            </div>
            <div class="div">
              <h5>Email</h5>
              <input
                type="text"
                name="Email"
                id="email"
                class="input"

              />
            </div>
          </div>
          <div class="input-div pass">
            <div class="i">
              <i class="fas fa-lock"></i>
            </div>
            <div class="div">
              <h5>Password</h5>
              <input
                type="text"
                name="Password"
                id="password"
                class="input"

              />
            </div>
          </div>
          <a href="{% url 'password_reset'%}">Forgot Password?</a>
          <input type="submit" class="btn" value="Login" />
          <a href="{% url 'social:begin' 'facebook' %}">
            <button type="button" class="btn" value="Login with facebook"  >Facebook </button></a
          >
          <a href="{% provider_login_url 'google' %}">
            <button type="button" class="btn" value="Login with Google"
          >Google</button></a>
        </form>
      </div>
    </div>
    <script type="text/javascript">
      const inputs = document.querySelectorAll(".input");

      function addcl() {
        let parent = this.parentNode.parentNode;
        parent.classList.add("focus");
      }

      function remcl() {
        let parent = this.parentNode.parentNode;
        if (this.value == "") {
          parent.classList.remove("focus");
        }
      }

      inputs.forEach((input) => {
        input.addEventListener("focus", addcl);
        input.addEventListener("blur", remcl);
      });
    </script>
  </body>
</html>
