{%load static %}
{% load socialaccount %}
<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>student login</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static '/css/studentlogin.css' %}">
</head>

<body class="body">
    <div id="login">
        <h3 class="text-center pt-5 font-weight-bold heading" style="color: white;">APPLY UNI</h3>
        <div>
          <p>
            {% if error %}
            <div class="alert alert-danger w-25% " style="text-align:center; margin-left:40%" role="alert" >
              {{error}}
            </div>
            {% endif %}
          </p>
        </div>
        </div>
        <div style="margin-top: -30px;" class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-5">
                    <div  style="height:450px;" id="login-box" class="login-box">
                        <form id="login-form" class="form" action="/studentlogin" method="post">
                          {% csrf_token %}
                            <h3 class="text-center text-info-nad head ">Student Login</h3>
                            <div class="form-group">
                                <label class="text-info-nad">Email:</label>
                                <input type="text" name="Email" id="email" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label class="text-info-nad">Password:</label>
                                <input type="password" name="Password" id="password" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <input type="submit" name="submit" class="btn btn-info btn-md btn-nade" value="Login">
                            </div>
                            <div class="social">
                                <a href="{% url 'social:begin' 'facebook' %}" style=""><button type="button" class="btn btn-info"style="margin-bottom:5px;">facebook<i style="margin-left: 5px;" class="fa fa-facebook"></i></button></a>
                                <a href="{% provider_login_url 'google' %}"><button type="button" class="btn btn-danger">Google<i style="margin-left: 5px;" class="fa fa-google"></i></button> </a>
                            </div>

                            <a href="{% url 'password_reset'%}">forgot password ?</a>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
