<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="main.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

    <title>Student_details</title>
    <style>
    </style>
  </head>
  <body>
    {% include "student_portal/studentnav.html" %}
      <div class="container mt-5">
        <form action="/stddetail" method="POST" enctype="multipart/form-data" >
          {% csrf_token %}
          <div class="">
          {% if error %}
          <div class="alert alert-warning" role="alert">
              {{error}}
          </div>
          {% endif %}
          <h1>Personal Details</h1>
          <div class="personal-details">
            <div class="mb-3 row">
              <label for="school_name" class="col-sm-3 col-form-label">First Name </label>
              <div class="col-sm-9">
                  <input type="text" class="form-control" name="Firstname" value="{{value.Firstname}}" required>
              </div>
            </div>
            <div class="form-group row mb-3">
              <label for="last-name" class="col-sm-3 col-form-label">Last Name</label>
              <div class="col-sm-9">
                  <input type="text" class="form-control" name="Lastname" value="{{value.Lastname}}" required>
              </div>
          </div>
          <div class="form-group row mb-3">
            <label for="dob" class="col-sm-3 col-form-label">Date of Birth</label>
            <div class="col-sm-9">

                <input type="date" class="form-control" name="Dateofbirth" id="dob" value="{{value.Dateofbirth}}" required>
            </div>
        </div>
        <div class="form-group row mb-3">
          <label for="gender" class="col-sm-3 col-form-label">Gender</label>
          <div class="col-sm-9">
            <select class="form-select" aria-label="Default select example" name="Gender" value="{{value.Gender}}" required>
  <option value="Male" selected >Male</option>
  {% if value.Gender == "Female" %}
  <option value="Female" selected>Female</option>
  {% else %}
  <option value="Female" >Female</option>
  {% endif %}
  {% if value.Gender == "Perfer not to say" %}
  <option value="Perfer not to say" selected >Perfer not to say</option>
  {% else %}
  <option value="Perfer not to say" >Perfer not to say</option>
  {% endif %}
</select>

          </div>





      </div>
      <div class="form-group row mb-3">
        <label for="maritial" class="col-sm-3 col-form-label">Maritial Status</label>
        <div class="col-sm-9">
          <select class="form-select" aria-label="Default select example" name="Maritial" value="{{value.Maritial}}" required>

<option value="Single" selected >Single</option>
{% if value.Maritial == "Married" %}
<option value="Married" selected>Married</option>
{% else %}
<option value="Married" >Married</option>
{% endif %}
</select>
        </div>
    </div>
    <div class="form-group row mb-3">
      <label for="nation" class="col-sm-3 col-form-label">Nationality</label>
      <div class="col-sm-9">
          <input type="text" class="form-control" id="nation" name="Nationality" value="{{value.Nationality}}" required>
      </div>
  </div>
  <div class="form-group row mb-3">
    <label for="email" class="col-sm-3 col-form-label"> Emailaddress</label>
    <div class="col-sm-9">
        <input type="text" class="form-control" id="email" name="Email" value="{{value.Email}}" required>
    </div>
</div>
<div class="form-group row mb-3">
  <label for="address" class="col-sm-3 col-form-label">Address</label>
  <div class="col-sm-9">
      <input type="text" class="form-control" id="address" name="Address" value="{{value.Address}}" required>
  </div>
</div>
</div>
<div>
<div class="form-group row mb-3">
  <label for="city" class="col-sm-3 col-form-label">City</label>
  <div class="col-sm-9">
      <input type="text" class="form-control" id="city" name="City" value="{{value.City}}" required>
  </div>
</div>
</div>
<div>
<div class="form-group row mb-3">
  <label for="state" class="col-sm-3 col-form-label">State</label>
  <div class="col-sm-9">
      <input type="text" class="form-control" id="state" name="State" value="{{value.State}}" required>
  </div>
</div>
</div>
<div>
<div class="form-group row mb-3">
  <label for="country" class="col-sm-3 col-form-label">Country</label>
  <div class="col-sm-9">
      <input type="text" class="form-control" id="country" name="Country" value="{{value.Country}}" required>
  </div>
</div>
</div>
<div>
<div class="form-group row mb-3">
  <label for="number" class="col-sm-3 col-form-label">Phone Number</label>
  <div class="col-sm-9">
      <input type="tel" class="form-control" id="number" name="Phonenumber" value="{{value.Phonenumber}}" required >
  </div>
</div>
</div>

          </div>
          <div class="container">
            <div class="Academic-details">
                <strong>Please List all your academic and professionl qualification</strong>
                    <h4>High School</h4>
                    <div class="mb-3 row form-group">
                        <label for="Qualification" class="col-sm-3 col-form-label">Qualification</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control" id="Qualification" name="Sscqual" value="{{value.Sscqual}}" required>
                        </div>
                      </div>
                      <div class="mb-3 row form-group">
                        <label for="school_name" class="col-sm-3 col-form-label">Name of the school</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="schoolname" name="Sscname" value="{{value.Sscname}}" required>
                        </div>
                      </div>
                      <div class="mb-3 row form-group">
                        <label for="completion_date" class="col-sm-3 col-form-label">Date of completion</label>
                        <div class="col-sm-9">
                            <input type="date" class="form-control" id="schoolname" name="Sscdate" value="{{value.Sscdate}}" required>
                        </div>
                      </div>
                      <div class="mb-3 row form-group">
                        <label for="marks_obtained" class="col-sm-3 col-form-label">Marks Obtained</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="schoolname" name="Sscmarks" value="{{value.Sscmarks}}" required>
                        </div>
                      </div>
                      <div class="mb-3 row form-group">
                        <label for="grading" class="col-sm-3 col-form-label">Grading Scheme</label>
                        <div class="col-sm-9">


<select class="form-select" aria-label="Default select example" name="Sscgrading" value="{{value.Sscgrading}}" required>

<option value="Marks" selected> Marks</option>
{% if value.Sscgrading == "CGPA" %}
<option value="CGPA" selected>CGPA</option>
{% else %}
<option value="CGPA" >CGPA</option>
{% endif %}
{% if value.Sscgrading == "Percentage" %}
<option value="Percentage" selected>Percentage</option>
{% else %}
<option value="Percentage" >Percentage</option>
{% endif %}
</select>





                        </div>
                      </div>
                    </div>
                      <br>
                      <div class=" form-group mb-3 row ">
                        <label for="documents" class="col-sm-3 col-form-label">Upload documets</label>
                        <div class="col-sm-9">
                            <input type="file" class="form-control" id="schoolname" name="SscDoc" value="{{value.SscDoc}}" required>
                          <p> Upload file: <a href="media/{{value.SscDoc}}"> {{value.SscDoc}} </a></p>
                        </div>
                      </div>
                      <hr>
                      <h5>Higher Secondary Education </h5>
                      <div class="mb-3 row form-group">
                        <label for="Qualification" class="col-sm-3 col-form-label">Qualification</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control" id="Qualification" name="Intqual" value="{{value.Intqual}}" required>

                        </div>
                      </div>
                      <div class="mb-3 row form-group">
                        <label for="school_name" class="col-sm-3 col-form-label">Name of the school</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="schoolname" name="Intname" value="{{value.Intname}}" required>
                        </div>
                      </div>
                      <div class="mb-3 row form-group">
                        <label for="completion_date" class="col-sm-3 col-form-label">Date of completion</label>
                        <div class="col-sm-9">
                            <input type="date" class="form-control" id="schoolname" name="Intdate" value="{{value.Intdate}}" required>
                        </div>
                      </div>
                      <div class="mb-3 row form-group">
                        <label for="marks_obtained" class="col-sm-3 col-form-label">Marks Obtained</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="schoolname" name="Intmarks" value="{{value.Intmarks}}" required>
                        </div>
                      </div>
                      <div class="mb-3 row form-group">
                        <label for="grading" class="col-sm-3 col-form-label">Grading Scheme</label>
                        <div class="col-sm-9">Intgrading
                          <select class="form-select" aria-label="Default select example" name="Intgrading" value="{{value.Intgrading}}" required>

                          <option value="Marks" selected> Marks</option>
                          {% if value.Intgrading == "CGPA" %}
                          <option value="CGPA" selected>CGPA</option>
                          {% else %}
                          <option value="CGPA" >CGPA</option>
                          {% endif %}
                          {% if value.Intgrading == "Percentage" %}
                          <option value="Percentage" selected>Percentage </option>
                          {% else %}
                          <option value="Percentage" >Percentage</option>
                          {% endif %}
                          </select>
                        </div>
                      <div class="mb-3 row">
                        <label for="documents" class="col-sm-3 col-form-label">Upload documets</label>
                        <div class="col-sm-9">

                          <input type="file" class="form-control" id="schoolname" name="IntDoc" value="{{value.IntDoc}}" required>
                            <p> Upload file: <a href="media/{{value.IntDoc}}"> {{value.IntDoc}} </a></p>
                        </div>
                      </div>
                      <hr>
                      <h5>University</h5>
                      <div class="mb-3 row">
                        <label for="Qualification" class="col-sm-3 col-form-label">Qualification</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control" id="schoolname" name="Uniqual" value="{{value.Uniqual}}">
                        </div>
                      </div>
                      <div class="mb-3 row">
                        <label for="school_name" class="col-sm-3 col-form-label">Name of the University</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="schoolname" name="Uniname" value="{{value.Uniname}}">
                        </div>
                      </div>
                      <div class="mb-3 row">
                        <label for="school_name" class="col-sm-3 col-form-label">Course Name</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="schoolname" name="Unicname" value="{{value.Unicname}}">
                        </div>
                      </div>
                      <div class="mb-3 row">
                        <label for="completion_date" class="col-sm-3 col-form-label">Date of completion</label>
                        <div class="col-sm-9">
                            <input type="date" class="form-control" id="schoolname" name="Unidate" value="{{value.Unidate}}">

                        </div>
                      </div>
                      <div class="mb-3 row">
                        <label for="marks_obtained" class="col-sm-3 col-form-label">Marks Obtained</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="schoolname" name="Unimarks" value="{{value.Unimarks}}">
                        </div>
                      </div>
                      <div class="mb-3 row">
                        <label for="grading" class="col-sm-3 col-form-label">Grading Scheme</label>
                        <div class="col-sm-9">Unigrading
                          <select class="form-select" aria-label="Default select example" name="Intgrading" value="{{value.Unigrading}}" required>

                          <option value="Marks" selected> Marks</option>
                          {% if value.Unigrading == "CGPA" %}
                          <option value="CGPA" selected>CGPA</option>
                          {% else %}
                          <option value="CGPA" >CGPA</option>
                          {% endif %}
                          {% if value.Unigrading == "Percentage" %}
                          <option value="Percentage" selected>Percentage </option>
                          {% else %}
                          <option value="Percentage" >Percentage</option>
                          {% endif %}
                          </select>
</div>
                      <div class="mb-3 row">
                        <label for="documents" class="col-sm-3 col-form-label">Upload documets</label>
                        <div class="col-sm-9">
                            <input type="file" class="form-control" id="schoolname" name="UniDoc" value="{{value.UniDoc}}">
                              <p> Upload file: <a href="media/{{value.UniDoc}}"> {{value.UniDoc}} </a></p>
                        </div>
                      </div>
            </div>
          </div>
          <div class="container">
            <div class="professional-qualification">
              <h1>English Profession</h1>




              <div class="form-group row mb-3">
                <label for="maritial" class="col-sm-3 col-form-label">Test</label>
                <div class="col-sm-9">Testeng
                  <select class="form-select" aria-label="Default select example" name="Testeng" value="{{value.Testeng}}" required>

        <option value="IELTS" selected > ILETS </option>
        {% if value.Testeng == "Married" %}
        <option value="TOFEL" selected>TOFEL</option>
        {% else %}
        <option value="TOFEL" >TOFEL</option>
        {% endif %}
        </select>
                </div>
            </div>





            </div>
              </div>
              <div class="form-group row mb-3">
                  <label for="year" class="col-sm-3 col-form-label">Year Taken</label>
                  <div class="col-sm-9">
                      <input type="date" class="form-control" name="Yeareng" id="year" value="{{value.Yeareng}}">
                  </div>
              </div>
              <div class="form-group row mb-3">
                  <label for="score" class="col-sm-3 col-form-label">Overall Score</label>
                  <div class="col-sm-9">
                      <input type="text" class="form-control" name="Overallscoreeng" id="score" value="{{value.Overallscoreeng}}">
                  </div>
              </div>
              <div class="form-group row mb-3">
                  <label for="document" class="col-sm-3 col-form-label">Upload Documents</label>
                  <div class="col-sm-9">
                      <input type="file" class="form-control" name="Uploadeng" id="document" value="{{value.Uploadeng}}">
                        <p> Upload file: <a href="media/{{value.Uploadeng}}"> {{value.Uploadeng}} </a></p>
                  </div>
              </div>
              <div class="form-group row mb-3">
                <label for="maritial" class="col-sm-3 col-form-label">Test</label>
                <div class="col-sm-9">
                  <select class="form-select" aria-label="Default select example" name="Testeng1" value="{{value.Testeng1}}" required>

        <option value="IELTS" selected > IELTS </option>
        {% if value.Testeng1 == "TOFEL" %}
        <option value="TOFEL" selected>TOFEL</option>
        {% else %}
        <option value="TOFEL" >TOFEL</option>
        {% endif %}
        </select>
                </div>
            </div>

            <div class="form-group row mb-3">
                <label for="year" class="col-sm-3 col-form-label">Year Taken</label>
                <div class="col-sm-9">
                    <input type="date" name="Yeareng1" class="form-control" id="year" value="{{value.Yeareng1}}">
                </div>
            </div>
            <div class="form-group row mb-3">
                <label for="score" class="col-sm-3 col-form-label">Overall Score</label>
                <div class="col-sm-9">
                    <input type="text" name="Overallscoreeng1" class="form-control" id="score" value="{{value.Overallscoreeng1}}">
                </div>
            </div>
            <div class="form-group row mb-3">
                <label for="document" class="col-sm-3 col-form-label">Upload Documents</label>
                <div class="col-sm-9">
                    <input type="file" name="Uploadeng1" class="form-control" id="document" value="{{value.Uploadeng1}}">
                      <p> Upload file: <a href="media/{{value.Uploadeng1}}"> {{value.Uploadeng1}} </a></p>
                </div>
            </div>
        </div>
        <h1>Admission Tests</h1>


                      <div class="form-group row mb-3">
                        <label for="maritial" class="col-sm-3 col-form-label">Test</label>
                        <div class="col-sm-9">Testad
                          <select class="form-select" aria-label="Default select example" name="Testad" value="{{value.Testad}}" required>

                <option value="GRE" selected > GRE </option>
                {% if value.Testad == "GEMAT" %}
                <option value="GEMAT" selected>GEMAT</option>
                {% else %}
                <option value="GEMAT" >GEMAT</option>
                {% endif %}
                </select>
                        </div>
                    </div>



      <div class="form-group row mb-3">
          <label for="year" class="col-sm-3 col-form-label">Year Taken</label>
          <div class="col-sm-9">
              <input type="date"  name="Yearad" class="form-control" id="year" value="{{value.Yearad}}">
          </div>
      </div>
      <div class="form-group row mb-3">
          <label for="score" class="col-sm-3 col-form-label">Overall Score</label>
          <div class="col-sm-9">
              <input type="text" name="Overallscoread" class="form-control"  id="score" value="{{value.Overallscoread}}">
          </div>
      </div>
      <div class="form-group row mb-3">
          <label for="document" class="col-sm-3 col-form-label">Upload Documents</label>
          <div class="col-sm-9">
              <input type="file" name="Uploadad"  class="form-control" id="document" value="{{value.Uploadad}}">
              <p> Upload file: <a href="media/{{value.Uploadad}}"> {{value.Uploadad1}} </a></p>

          </div>
      </div>
      <!-- new test-->




                      <div class="form-group row mb-3">
                        <label for="maritial" class="col-sm-3 col-form-label">Test</label>
                        <div class="col-sm-9">
                          <select class="form-select" aria-label="Default select example" name="Testad1" value="{{value.Testad1}}" >

                <option value="GRE" selected > GRE </option>
                {% if value.Testad1 == "GEMAT" %}
                <option value="GEMAT" selected>GEMAT</option>
                {% else %}
                <option value="GEMAT" >GEMAT</option>
                {% endif %}
                </select>
                        </div>
                    </div>



    <div class="form-group row mb-3">
        <label for="year" class="col-sm-3 col-form-label">Year Taken</label>
        <div class="col-sm-9">
            <input type="date"  name="Yearad1" class="form-control" id="year" value="{{value.Yearad1}}">
        </div>
    </div>
    <div class="form-group row mb-3">
        <label for="score" class="col-sm-3 col-form-label">Overall Score</label>
        <div class="col-sm-9">
            <input type="text" name="Overallscoread1" class="form-control"  id="score" value="{{value.Overallscoread1}}">
        </div>
    </div>
    <div class="form-group row mb-3">
        <label for="document" class="col-sm-3 col-form-label">Upload Documents</label>
        <div class="col-sm-9">
            <input type="file" name="Uploadad1"  class="form-control" id="document" value="{{value.Uploadad1}}">
            <p> Upload file: <a href="media/{{value.Uploadad1}}"> {{value.Uploadad1}} </a></p>

        </div>
    </div>
    <!--end test-->
          </div>
            </div>
          </div>
          <div class="container">
            <h1>Course Application</h1>

              <div class="mb-3 row">
                <label for="applying_course+" class="col-sm-3 col-form-label">Applying for</label>
                <div class="col-sm-9">
                  <select class="form-select" aria-label="Default select example" name="Applyingfor" value="{{value.Applyingfor}}" required>

                  <option value="Bachelors" selected> Bachelors</option>
                  {% if value.Applyingfor == "Masters" %}
                  <option value="Masters" selected>Masters</option>
                  {% else %}
                  <option value="Masters" >Masters</option>
                  {% endif %}

                  </select>
                </div>
              </div>
              <div class="mb-3 row">
                <label for="inputPassword" class="col-sm-3 col-form-label">Date </label>
                <div class="col-sm-9">
                  <input type="date" name="Date" class="form-control" id="inputPassword" value="{{value.Date}}"  >
                </div>
              </div>
              <hr>
              <h5  style="padding: 1rem;">Country of intrest</h5>
              <div class="mb-3 row">
                <label for="inputPassword" class="col-sm-3 col-form-label">Preferred Country 1</label>
                <div class="col-sm-9">
                  <input type="text" name="pcoun1" class="form-control" id="country" value="{{value.pcoun1}}" >
                </div>
              </div>
              <div class="mb-3 row">
                <label for="inputPassword" class="col-sm-3 col-form-label">Preferred Country 2</label>
                <div class="col-sm-9">
                  <input type="text" name="pcoun2" class="form-control" id="country" value="{{value.pcoun2}}" >
                </div>
              </div>
              <div class="mb-3 row">
                <label for="inputPassword" class="col-sm-3 col-form-label">Preferred Country 3</label>
                <div class="col-sm-9">
                  <input type="text" name="pcoun3" class="form-control" id="country" value="{{value.pcoun3}}" >
                </div>
              </div>
              <hr>
              <h5 style="padding: 1rem;">Intrested Area of Study</h5>
              <div class="mb-3 row">
                <label for="inputPassword" class="col-sm-3 col-form-label">Preferred Course 1</label>
                <div class="col-sm-9">
                  <input type="text" name="pcour4" class="form-control" id="course1" value="{{value.pcour4}}" >
                </div>
              </div>
              <div class="mb-3 row">
                <label for="inputPassword" class="col-sm-3 col-form-label">Preferred course 2</label>
                <div class="col-sm-9">
                  <input type="text" name="pcour5" class="form-control" id="course2" value="{{value.pcour5}}" >
                </div>
              </div>
              <div class="mb-3 row">
                <label for="inputPassword" class="col-sm-3 col-form-label">Preferred course 3</label>
                <div class="col-sm-9">
                  <input type="text" name="pcour6" class="form-control" id="course3" value="{{value.pcour6}}" >
                </div>
                <button class="btn btn-primary mt-5">Save and continue</button>

            </form>

          </div>
    <!-- Optional JavaScript; choose one of the two! -->
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
    -->
  </body>
</html>
