{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!--====== Required meta tags ======-->
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="description" content="" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!--====== Title ======-->
    <title>Start | Landing Page for Startup and SaaS Business</title>

    <!--====== Favicon Icon ======-->
    <link rel="shortcut icon" href="images/favicon.png" type="image/png" />

    <!--====== Bootstrap css ======-->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />

    <!--====== Line Icons css ======-->
    <link href="https://cdn.lineicons.com/2.0/LineIcons.css" rel="stylesheet"
    <!--======Magnific Popup css======-->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.css"
      integrity="sha512-WEQNv9d3+sqyHjrqUZobDhFARZDko2wpWdfcpv44lsypsSuMO0kHGd3MQ8rrsBn/Qa39VojphdU6CMkpJUmDVw=="
      crossorigin="anonymous"
    />

    <!--====== Default css ======-->
    <link rel="stylesheet" href="{% static '/css/default.css' %}" />

    <!--====== Style css ======-->
    <link rel="stylesheet" href="{% static '/css/style.css' %} " />

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />

    <style>
      body {
        background-color: honeydew;
      }

      .card-deck {
        margin: 0 -15px;
        justify-content: space-between;
      }

      .card-deck .card {
        margin: 0 0 1rem;
      }

      @media (min-width: 576px) and (max-width: 767.98px) {
        .card-deck .card {
          -ms-flex: 0 0 48.7%;
          flex: 0 0 48.7%;
        }
      }

      @media (min-width: 768px) and (max-width: 991.98px) {
        .card-deck .card {
          -ms-flex: 0 0 32%;
          flex: 0 0 32%;
        }
      }

      @media (min-width: 992px) {
        .card-deck .card {
          -ms-flex: 0 0 24%;
          flex: 0 0 24%;
        }
      }

      .how-it-works-item {
        padding: 30px;
        text-align: center;
        position: relative;
        z-index: 1;
      }

      .how-it-works-item.line-right:before {
        content: "";
        position: absolute;
        height: 2px;
        width: 100%;
        left: 50%;
        top: 55px;
        background-color: lightblue;
        z-index: -1;
      }

      .how-it-works-item .step {
        display: inline-block;
        height: 60px;
        width: 60px;
        background-color: lightblue;
        font-synthesis: 30px;
        text-align: center;
        line-height: 60px;
        border-radius: 50%;
        margin: 0 0 15px;
      }

      .how-it-works-item h3 {
        margin: 20px 0;
        font-size: 22px;
        color: black;
        text-transform: capitalize;
        font-weight: 500;
      }

      .how-it-works-item h3 p {
        font-weight: 16px;
        font-weight: 300;
        margin: 0;
        color: black;
      }

      .contact-info h3 {
        font-size: 22px;
        color: black;
        font-weight: 500;
        margin: 0 0 40px;
      }

      .contact-info-item {
        position: relative;
        padding-left: 55px;
        margin-bottom: 30px;
      }

      .contact-info-item h4 {
        font-weight: 400;
        font-size: 18px;
        margin: 0 0 10px;
        color: black;
      }

      .contact-info-item i {
        position: absolute;
        height: 40px;
        width: 40px;
        left: 0;
        right: 0;
        border-radius: 50%;
        font-size: 16px;
        color: blue;
        border: 1px solid blue;
        text-align: center;
        line-height: 38px;
      }

      .contact-info-item p {
        font-size: 16px;
        font-weight: 300;
        margin: 0;
        line-height: 26px;
        color: black;
      }

      .contact-form .form-group {
        margin-bottom: 25px;
      }

      .contact-form .form-control {
        height: 52px;
        border: 1px solid transparent;
        box-shadow: #f7f7f7;
        border-radius: 30px;
        padding: 0 24px;
        color: #000000;
        background-color: black 000;
        transition: all 0.5s ease;
      }

      .contact-form .form-control:focus {
        border-color: blue;
      }

      .contact-form .form-group input {
        border: 1px solid black;
      }

      .slider-area {
        background: silver;
        position: relative;
        padding: 50px 0;
        margin: 120px 0;
      }

      .carousel-control.left,
      carousel-control.right {
        background: transparent;
      }

      .carousel-caption {
        position: static;
        padding-bottom: 50px;
        padding-top: 0;
      }

      .img-area {
        width: 150px;
        height: 150px;
        margin: auto;
        border: 2px solid #fff;
        border-radius: 50%;
        overflow: hidden;
      }

      .img-area img {
        position: static;

        padding-top: 0;
      }

      .carousel-caption h3 {
        font-size: 26px;
        margin-bottom: 15px;
        margin-top: 25px;
      }

      .carousel-caption p {
        font-size: 18px;
        margin: auto;
        width: 70%;
      }

      .card-title {
        text-transform: uppercase;
      }

      .carousel-indicator {
        bottom: -35px;
      }

      .carousel-caption h4 {
        margin-top: 0.5rem;
        color: rgb(86, 149, 233);
      }
      @media (max-width: 992px) {
        .how-it-works-item.line-right:before {
          content: none;
        }
        .how-it-works-item {
          box-shadow: 0 5px 15px rgb(0, 0, 0, 0.1);
          border-radius: 10px;
          margin-bottom: 30px;
        }
      }
    </style>
  </head>

  <body>
    <!--====== HEADER PART START ======-->

    <header class="header-area">
      <div class="navgition navgition-transparent">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <nav class="navbar navbar-expand-lg">
                <a class="navbar-brand" href="#">
                  <h3 style="color: blue">ApplyUni</h3>
                </a>

                <button
                  class="navbar-toggler"
                  type="button"
                  data-toggle="collapse"
                  data-target="#navbarOne"
                  aria-controls="navbarOne"
                  aria-expanded="false"
                  aria-label="Toggle navigation"
                >
                  <span class="toggler-icon"></span>
                  <span class="toggler-icon"></span>
                  <span class="toggler-icon"></span>
                </button>

                <div
                  class="collapse navbar-collapse sub-menu-bar"
                  id="navbarOne"
                >
                  <ul class="navbar-nav m-auto">
                    <li class="nav-item active">
                      <a class="page-scroll" href="#home">HOME</a>
                    </li>
                    <li class="nav-item">
                      <a class="page-scroll" href="#service">SERVICES</a>
                    </li>
                    <li class="nav-item">
                      <a class="page-scroll" href="#universities"
                        >UNIVERSITIES</a
                      >
                    </li>
                    <li class="nav-item">
                      <a class="page-scroll" href="#working">WORKING</a>
                    </li>
                    <li class="nav-item">
                      <a class="page-scroll" href="#features">FEATURES</a>
                    </li>
                    <li class="nav-item">
                      <a class="page-scroll" href="#contact">CONTACT</a>
                    </li>
                  </ul>
                </div>

                <div class="navbar-social d-none d-sm-flex align-items-center">
                  <ul>
                    <li>
                      <a href="/studentsignup"
                        ><button type="button" class="btn btn-primary">
                          SIGN UP
                        </button></a
                      >
                    </li>
                    <li>
                      <a href="/studentlogin"
                        ><button type="button" class="btn btn-primary">
                          LOGIN
                        </button></a
                      >
                    </li>
                  </ul>
                </div>
              </nav>
              <!-- navbar -->
            </div>
          </div>
          <!-- row -->
        </div>
        <!-- container -->
      </div>
      <!-- navgition -->

      <div
        id="home"
        class="header-hero bg_cover"
        style="background-image: url({% static 'images/header-bg-1.jpg' %})"
      >
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-xl-8 col-lg-10">
              <div class="header-content text-center">
                <h3 class="header-title">Welcome to APPLY UNI@Online</h3>
                <p class="text">
                  Welcome to U apply, Choose and apply from 200 universities
                  worldwide right from where you are. we will guide you through
                  long the way!
                </p>
                <ul class="header-btn">
                  <li>
                    <a
                      class="main-btn btn-two video-popup"
                      href="https://qbecinfosol.com/"
                      >Connect Us <i class="lni lni-connect"></i
                    ></a>
                  </li>
                </ul>
              </div>
              <!-- header content -->
            </div>
          </div>
          <!-- row -->
        </div>
        <!-- container -->
        <div class="header-shape">
          <img src="{% static 'images/header-shape.svg' %}" alt="shape" />
        </div>
      </div>
      <!-- header content -->
    </header>

    <!--====== HEADER PART ENDS ======-->

    <!--====== SERVICES PART START ======-->

    <section id="service" class="services-area">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div class="section-title pb-10">
              <h4 class="title">Crafted For</h4>
              <p class="text">
                Stop Wasting time choosing Unecessary universities that doesn’t
                get results. join ours Happiness guranteed!
              </p>
            </div>
            <!-- section title -->
          </div>
        </div>
        <!-- row -->
        <div class="row">
          <div class="col-lg-8">
            <div class="row">
              <div class="col-md-6">
                <div class="services-content mt-40 d-sm-flex">
                  <div class="services-icon">
                    <i class="lni lni-book"></i>
                  </div>
                  <div class="services-content media-body">
                    <h4 class="services-title">Course Selection & Guidance</h4>
                    <p class="text">
                      Guidance and Counselling for you to choose the right
                      programme to start your career
                    </p>
                  </div>
                </div>
                <!-- services content -->
              </div>
              <div class="col-md-6">
                <div class="services-content mt-40 d-sm-flex">
                  <div class="services-icon">
                    <i class="fa fa-university" aria-hidden="true"></i>
                  </div>
                  <div class="services-content media-body">
                    <h4 class="services-title">University Admissions</h4>
                    <p class="text">
                      Securing guranteed admissions from top universities across
                      the world, as per your choice.
                    </p>
                  </div>
                </div>
                <!-- services content -->
              </div>
              <div class="col-md-6">
                <div class="services-content mt-40 d-sm-flex">
                  <div class="services-icon">
                    <i class="fa fa-book" aria-hidden="true"></i>
                  </div>
                  <div class="services-content media-body">
                    <h4 class="services-title">
                      Documentation & Visa Assistance
                    </h4>
                    <p class="text">
                      Help you prepare the right documents needed for University
                      admissions and visa application which ensures 100% success
                      rate.
                    </p>
                  </div>
                </div>
                <!-- services content -->
              </div>
              <div class="col-md-6">
                <div class="services-content mt-40 d-sm-flex">
                  <div class="services-icon">
                    <i class="fa fa-support" aria-hidden="true"></i>
                  </div>
                  <div class="services-content media-body">
                    <h4 class="services-title">
                      Support during your Study & Stay
                    </h4>
                    <p class="text">
                      Emergency assistance and local support till you
                      succesfullly complete your studies.
                    </p>
                  </div>
                </div>
                <!-- services content -->
              </div>
            </div>
            <!-- row -->
          </div>
          <!-- row -->
        </div>
        <!-- row -->
      </div>
      <!-- conteiner -->
      <div class="services-image d-lg-flex align-items-center">
        <div class="image">
          <img src="{% static 'images/services.png' %}" alt="Services" />
        </div>
      </div>
      <!-- services image -->
    </section>

    <!--====== Universities PART START ======-->
    <section
      class="universities"
      id="universities"
      style="padding-bottom: 2rem"
    >
      <h1 style="padding: 20px; font-family: 'Raleway'" class="text-center">
        Top <span style="color: blue">Universities</span>
      </h1>
      <div class="container">
        <div class="card-deck">
          <div class="card">
            <img
              class="card-img-top"
              src="https://images.shiksha.com/mediadata/images/1589360331phphW1Nso.jpeg"
            />
            <div class="card-body">
              <h5 class="card-title">Harvard University</h5>
              <p class="card-text">
                Harvard University is a private Ivy League research university
                in Cambridge, Massachusetts.
              </p>
            </div>
          </div>
          <div class="card">
            <img
              class="card-img-top"
              src="https://nypost.com/wp-content/uploads/sites/2/2020/03/stanford.jpg?quality=80&strip=all"
              alt="Card image cap"
            />
            <div class="card-body">
              <h5 class="card-title">Stanford university</h5>
              <p class="card-text">
                Stanford University, officially Leland Stanford Junior
                University, is a private research university located in
                Stanford, California.
              </p>
            </div>
          </div>
          <div class="card">
            <img
              class="card-img-top"
              src="https://images.shiksha.com/mediadata/images/1589360331phphW1Nso.jpeg"
              alt="Card image cap"
            />
            <div class="card-body">
              <h5 class="card-title">University of Oxford</h5>
              <p class="card-text">
                The University of Oxford is a collegiate research university in
                Oxford, Oxfordshire, England. There is evidence of teaching as
                early as 1096.
              </p>
            </div>
          </div>
          <div class="card">
            <img
              class="card-img-top"
              src="https://www.berkeleyside.com/wp-content/uploads/2020/04/1920px-UCBerkeleyCampus-e1594245699299.jpg"
              alt="Card image cap"
            />
            <div class="card-body">
              <h5 class="card-title">University of California</h5>
              <p class="card-text">
                The University of California (UC) is a public research
                university system in the U.S. state of California.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!--====== universities PART ENDS ======-->
    <!-- How it works-->
    <section class="working" id="working" style="padding-bottom: 2rem">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8">
            <div class="section-title">
              <h1
                style="
                  text-align: center;
                  padding: 20px;
                  font-family: 'Raleway';
                "
              >
                How it <span style="color: blue">Works</span>
              </h1>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-6">
            <div class="how-it-works-item line-right">
              <div class="step">1</div>
              <h3>Step1</h3>
              <p>Register With Us</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="how-it-works-item line-right">
              <div class="step">2</div>
              <h3>Step2</h3>
              <p>Search for your dreamed universisty</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="how-it-works-item line-right">
              <div class="step">3</div>
              <h3>Step3</h3>
              <p>Select your desired course</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="how-it-works-item">
              <div class="step">4</div>
              <h3>Step4</h3>
              <p>Apply & Enjoy</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- works end -->

    <!-- features-->
    <section class="features" id="features">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8">
            <div class="section-title">
              <h1
                style="
                  text-align: center;
                  padding: 20px;
                  font-family: 'Raleway';
                "
              >
                Top <span style="color: blue">Features</span>
              </h1>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-6">
            <div class="how-it-works-item line-left">
              <div class="step">1</div>
              <h3>Why</h3>
              <p>Direct connection with university</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="how-it-works-item line-left">
              <div class="step">2</div>
              <h3>Why</h3>
              <p>User Friendly</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="how-it-works-item line-left">
              <div class="step">3</div>
              <h3>Why</h3>
              <p>Self Registrations</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="how-it-works-item">
              <div class="step">4</div>
              <h3>Why</h3>
              <p>Support</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end features-->
    <!-- Testimonials -->
    <!--
    <section class="testimonials" id="testimonials">

        <div class="slider-area">
            <h2 style="color: blue;text-align: center;padding-bottom: 2rem;">Testimonials</h2>
            <div class="conntainer">

                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <div class="img-area">
                            <img src="{% static 'images/harsha.jpeg' %}" alt="">
                        </div>
                        <div class="carousel-caption ">
                          <h4>Harsha</h4>
                          <h3>Student</h3>
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A eius officiis, nihil debitis </p>
                        </div>
                      </div>
                      <div class="carousel-item">
                        <div class="img-area">
                            <img src="{% static 'images/harsha2.jpeg' %}" alt="">
                        </div>
                        <div class="carousel-caption ">
                          <h4>Harsha</h4>
                          <h3>Student</h3>
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A eius officiis, nihil debitis </p>
                        </div>
                      </div>
                      <div class="carousel-item">
                        <div class="img-area">
                            <img src="https://www.berkeleyside.com/wp-content/uploads/2020/04/1920px-UCBerkeleyCampus-e1594245699299.jpg" alt="">
                        </div>
                        <div class="carousel-caption ">
                          <h4>Harsha</h4>
                          <h3>Student</h3>
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A eius officiis, nihil debitis </p>
                        </div>
                      </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                    </a>
                  </div>
            </div>
        </div>
    </section>
-->
    <!--End testimonials-->
    <!--====== CONTACT PART START ======-->

    <section
      id="contact"
      class="contact section-padding"
      style="padding-bottom: 2rem"
    >
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8">
            <div class="section-title">
              <h1
                style="
                  text-align: center;
                  padding: 5rem;
                  font-family: 'Raleway';
                "
              >
                Get in <span style="color: blue">Touch</span>
              </h1>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-5">
            <div class="contact-info">
              <h3>For any Queries and Support</h3>
              <div class="contact-info-item">
                <i class="fa fa-location-arrow"></i>
                <h4>Company Location</h4>
                <p>Malaysia</p>
              </div>
              <div class="contact-info-item">
                <i class="fa fa-envelope"></i>
                <h4>Write to us at</h4>
                <p>abc@gmail.com</p>
              </div>
              <div class="contact-info-item">
                <i class="fa fa-phone"></i>
                <h4>Phone</h4>
                <p>46786365</p>
              </div>
            </div>
          </div>
          <div class="col-lg-8 col-md-7">
            <div class="contact-form">
              <form action="/stdquery" method="POST">
                {% csrf_token %}

                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <input
                        type="text"
                        placeholder="Name"
                        class="form-control"
                        name="Name"
                      />
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <input
                        type="text"
                        placeholder="Email"
                        class="form-control"
                        name="Email"
                      />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12">
                    <div class="form-group">
                      <input
                        type="text"
                        placeholder="Phone"
                        class="form-control"
                        name="Phonenumber"
                      />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12">
                    <div class="form-group">
                      <input type="date" class="form-control" name="Date" />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12">
                    <button type="submit" class="btn btn-primary">
                      Request an appointment
                    </button>
                    <div class="">
                      {% if Message %}
                      <div class="alert alert-info" role="alert">
                        {{Message}}
                      </div>
                      {% endif %}
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!--====== CONTACT PART ENDS ======-->

    <!--====== FOOTER PART START ======-->
    <!--
    <footer id="footer" class="footer-area">
      <div class="footer-widget">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div
                class="footer-logo-support d-md-flex align-items-end justify-content-between"
              >
                <div class="footer-logo d-flex align-items-end">
                  <a class="mt-30" href="index.html"
                    ><h3 style="color: cadetblue">Apply Uni</h3></a
                  >

                  <ul class="social mt-30">
                    <li>
                      <a href="#"><i class="lni lni-facebook-filled"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="lni lni-twitter-original"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="lni lni-instagram-original"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="lni lni-linkedin-original"></i></a>
                    </li>
                  </ul>
                </div>

              </div>

            </div>
          </div>

          <div class="row">
            <div class="col-lg-2 col-md-4 col-sm-6">
              <div class="footer-link">
                <h6 class="footer-title">Company</h6>
                <ul>
                  <li><a href="#">About</a></li>
                  <li><a href="#">Contact</a></li>
                  <li><a href="#">Career</a></li>
                </ul>
              </div>

            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
              <div class="footer-link">
                <h6 class="footer-title">Product & Services</h6>
                <ul>
                  <li><a href="#">Products</a></li>
                  <li><a href="#">Business</a></li>
                  <li><a href="#">Developer</a></li>
                </ul>
              </div>

            </div>
            <div class="col-lg-3 col-md-4 col-sm-5">
              <div class="footer-link">
                <h6 class="footer-title">Help & Suuport</h6>
                <ul>
                  <li><a href="#">Support Center</a></li>
                  <li><a href="#">FAQ</a></li>
                  <li><a href="#">Terms & Conditions</a></li>
                </ul>
              </div>

            </div>
            <div class="col-lg-4 col-md-6 col-sm-7">
              <div class="footer-newsletter">
                <h6 class="footer-title">Subscribe Newsletter</h6>
                <div class="newsletter">
                  <form action="#">
                    <input type="text" placeholder="Your Email" />
                    <button type="submit">
                      <i class="lni-angle-double-right"></i>
                    </button>
                  </form>
                </div>
                <p class="text">
                  Subscribe weekly newsletter to stay upto date. We don’t send
                  spam.
                </p>
              </div>

            </div>
          </div>

        </div>

      </div>

-->
    <footer>
      <div class="footer-copyright">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="copyright text-center">
                <p class="text">2020 &copy Applyuni</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <!--====== FOOTER PART ENDS ======-->

    <!--====== BACK TO TOP PART START ======-->

    <a class="back-to-top" href="#"><i class="lni-chevron-up"></i></a>

    <!--====== BACK TO TOP PART ENDS ======-->

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"
      integrity="sha512-3n19xznO0ubPpSwYCRRBgHh63DrV+bdZfHK52b1esvId4GsfwStQNPJFjeQos2h3JwCmZl0/LgLxSKMAI55hgw=="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"
      integrity="sha512-jGsMH83oKe9asCpkOVkBnUrDDTp8wl+adkB2D+//JtlxO4SrLoJdhbOysIFQJloQFD+C4Fl1rMsQZF76JjV0eQ=="
      crossorigin="anonymous"
    ></script>

    <!--====== Bootstrap js ======-->
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"
      integrity="sha512-0QbL0ph8Tc8g5bLhfVzSqxe9GERORsKhIn1IrpxDAgUsbBGz/V7iSav2zzW325XGd1OMLdL4UiqRJj702IeqnQ=="
      crossorigin="anonymous"
    ></script>
    <script src="https://unpkg.com/scrollnav@3.0.1/dist/scrollnav.min.umd.js"></script>

    <!--====== Magnific Popup js ======-->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"
      integrity="sha512-IsNh5E3eYy3tr/JiX2Yx4vsCujtkhwl7SLqgnwLNgf04Hrt9BT9SXlLlZlWx+OK4ndzAoALhsMNcCmkggjZB1w=="
      crossorigin="anonymous"
    ></script>

    <!--====== Main js ======-->
    <script>
      $(function () {
        "use strict";

        //===== Prealoder

        $(window).on("load", function (event) {
          $("#preloader").delay(500).fadeOut(500);
        });

        //===== Mobile Menu

        $(".navbar-toggler").on("click", function () {
          $(this).toggleClass("active");
        });

        $(".navbar-nav a").on("click", function () {
          $(".navbar-toggler").removeClass("active");
        });

        //===== close navbar-collapse when a  clicked

        $(".navbar-nav a").on("click", function () {
          $(".navbar-collapse").removeClass("show");
        });

        //===== Sticky

        $(window).on("scroll", function (event) {
          var scroll = $(window).scrollTop();
          if (scroll < 10) {
            $(".navgition").removeClass("sticky");
          } else {
            $(".navgition").addClass("sticky");
          }
        });

        //===== Section Menu Active

        var scrollLink = $(".page-scroll");
        // Active link switching
        $(window).scroll(function () {
          var scrollbarLocation = $(this).scrollTop();

          scrollLink.each(function () {
            var sectionOffset = $(this.hash).offset().top - 90;

            if (sectionOffset <= scrollbarLocation) {
              $(this).parent().addClass("active");
              $(this).parent().siblings().removeClass("active");
            }
          });
        });

        //====== Magnific Popup

        $(".video-popup").magnificPopup({
          type: "iframe",
          // other options
        });

        //===== Back to top

        // Show or hide the sticky footer button
        $(window).on("scroll", function (event) {
          if ($(this).scrollTop() > 600) {
            $(".back-to-top").fadeIn(200);
          } else {
            $(".back-to-top").fadeOut(200);
          }
        });

        //Animate the scroll to yop
        $(".back-to-top").on("click", function (event) {
          event.preventDefault();

          $("html, body").animate(
            {
              scrollTop: 0,
            },
            1500
          );
        });
      });
    </script>
  </body>
</html>
