@charset "utf-8";
/* CSS Document */

.body {
  margin: 0;
  padding: 0;
  background-image:linear-gradient(to bottom right,#645eb6,#9ab3f5) ;
  height: 100vh;
  font-family: 'Open Sans', sans-serif;
}
.text-info-nad{
  color: #4a37a0 !important;
}
.heading{
    letter-spacing: 5px;
    font-size: 50px;
    font-weight: 500;
    color: #white;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 1px 1px black;

}
.head{
    color:#342574;
    font-weight: 600;
}
.btn-nade{
  background-color: #324a80 !important;
    border-color: #324a80 !important;
}
#login .container #login-row #login-column #login-box {
  margin: 120px auto 0;
  max-width: 400px;
  height: 350px;
  border: 1px solid #9C9C9C;
  border-radius: 5px;
  background-color: rgba(234,234,234,0.80);
  -webkit-box-shadow: 0px 0px 28px -3px rgba(0,0,0,0.5);
-moz-box-shadow: 0px 0px 28px -3px rgba(0,0,0,0.5);
box-shadow: 0px 0px 28px -3px rgba(0,0,0,0.5);
}
#login .container #login-row #login-column #login-box #login-form {
  padding: 40px;
}
.btn{
    width: 100%;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
  margin-top: -85px;
}


