<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />


  <title>Course_page</title>
</head>

<body>


  <!--abt university for-->
  <div class="container mt-5 rounded p-5" >
    <form action="">


      <div class="mb-3 row">
        <label for="type" class="col-sm-2 col-form-label">Course Name </label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="">
        </div>
       
       
      </div>
      <div class="mb-3 row">
        <label for="type" class="col-sm-2 col-form-label">Course Type</label>
        <div class="col-sm-10">
            <select class="form-select" aria-label="Default select example" name="">
                <option selected>UG</option>
                <option value="1">PG</option>
                
              </select>
        </div>
        
      </div>
    
    
    
    
      <div class="mb-3 row">
        <label for="type" class="col-sm-2 col-form-label">Faculty Name</label>
        <div class="col-sm-10">
            <select class="form-select" aria-label="Default select example" name="">
                <option selected>UG</option>
                <option value="1">PG</option>
                
              </select>
      </div>
      </div>

     

      <div class="mb-3 row">
        <label for="type" class="col-sm-2 col-form-label">Course Approval License number</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="">
      </div>
      </div>
      <div class="mb-3 row">
        <label for="type" class="col-sm-2 col-form-label">Approval Authority</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="">
      </div>
      </div>

      <!--About-->

      <div class="mb-3 row">
        <label for="type" class="col-sm-2 col-form-label">Tution Fee</label>
        <div class="col-sm-5">
            <select class="form-select" aria-label="Default select example" name="">
              <option selected>Currency</option>
              <option value="1">INR</option>
              <option value="2">Dollars</option>
              
            </select>
            
          </div>
          <div class="col-sm-5">
              <input type="text" class="form-control" name=""  >
           
          </div>
          
         
      </div>

      <div class="mb-3 row">
        <label for="type" class="col-sm-2 col-form-label">Course Content</label>
        <div class="col-sm-5">
            <label for="type" class=" col-form-label">Semester / term 1</label>
            <input type="text" class="form-control" name=""  ><br>
            <input type="text" class="form-control" name=""  ><br>
            <input type="text" class="form-control" name=""  ><br>
            
          </div>
          <div class="col-sm-5">
            <label for="type" class=" col-form-label ">Semester / term 2</label>
            <input type="text" class="form-control" name=""  ><br>
            <input type="text" class="form-control" name=""  ><br>
            <input type="text" class="form-control" name=""  ><br>
           
          </div>
          
         
      </div>
      <div class="mb-3 row">
        <label for="type" class="col-sm-2 col-form-label">Duration</label>
        <div class="col-sm-5">
            <select class="form-select" aria-label="Default select example" name="">
              <option selected>Total course Duration</option>
              <option value="1">4</option>
              <option value="2">5</option>
              <option value="3">3</option>
            </select>
            
          </div>
          <div class="col-sm-5">
            <select class="form-select" aria-label="Default select example" name="">
                <option selected>No.of Semesters</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
              </select>
           
          </div>
          
         
      </div>


      <!--terms and conditons-->
       
      <div class="mb-3 row">
        <label for="type" class="col-sm-2 col-form-label">Entry Requirments</label>
        <div class="col-sm-10">
          <textarea type="text" class="form-control" name="" placeholder="Criteria 1"></textarea><br>
          <textarea type="text" class="form-control" name="" placeholder="Criteria 2"></textarea><br>
          <textarea type="text" class="form-control" name="" placeholder="Criteria 3"></textarea><br>
          

      </div>
      </div>

      <div class="text-center">
        <button class="btn btn-primary" type="submit">Save and Continue</button>
      
      </div>
      
      




    </form>
  </div>
  
  

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
    crossorigin="anonymous"></script>

</body>

</html>