<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>student_portal-Applu Uni</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
  <link rel="stylesheet" href="main.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

  

</head>

<body>
    
  {% include "student_portal/studentnav.html" %}  
  <div class="container  " style="padding: 30px;">
    <div class="name" style="font-size: 30px;padding-bottom: 25px;">
      <h3>Hi <span style="color: cornflowerblue;">{{value.Name}}</span> , How are you Doing ?</h3>
    </div>
    <div class="applications  p-3 shadow p-3 mb-5 bg-white " style="padding-bottom: 25px; background-color: lightgray;border-radius: 10px;">
      <h3 style="padding: 10px; "><span>Your <span style="color: blue;">Applications</span></span> </h3>
      <a href="#" style="text-decoration: none; color: black;padding: 25px;">start to Apply for your dreamed University <i
          class="fas fa-plus-circle"></i></a>
    </div>
    <div class="discover  p-3 mt-5 shadow p-3 mb-5 bg-white " style="background-color:lightgrey;border-radius: 10px;">
      <h3 style="padding: 10px; "><span style="color: cornflowerblue;">Discover</span></h3>
      <p style="padding: 10px; ">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus laudantium impedit qui illum autem cum
        laboriosam error saepe blanditiis ipsam officia optio, odit officiis iste?</p>
      <p style="padding: 10px; ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero nostrum culpa incidunt dignissimos exercitationem
        expedita quibusdam, ab excepturi, adipisci architecto consectetur at quidem quas saepe.</p>
    </div>
  </div>












  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
    crossorigin="anonymous"></script>
</body>

</html>
